.card {
	margin-top: 40px;
	display: flex;
}

.card .cardIcon {
	margin-right: 30px;
}

.card .cardTitle {
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	font-size: 21px;
	color: #262626;
}

.card .cardText {
	margin-top: 12px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #535353;
}