.headerDiv {
	background: white;
	height: 80px;
	width: 375px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	position: fixed;
	top: 0;
	z-index: 999;
}

.headerDiv a {
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	letter-spacing: 0.1px;
}

.icon {
	cursor: pointer;
}

.green {
	color: #35CC62
}

