.heroBackground {
	background: url("../images/backgroundMobile.png");
	height: 526px;
}

.heroInsideWrapper {
	text-align: center;
	position: relative;
	height: 100%;
}

.playButton {
	position: absolute;
	top: 170px;
}

.watchVideo {
	position: absolute;
	top: 245px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 9px;
	font-size: 13px;
	text-align: center;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-shadow: 0px 4.94792px 9.89583px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
}

.heroText {
	position: absolute;
	top: 309px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
	font-size: 26px;
	text-align: center;
	width: 280px;
	color: #FFFFFF;
}

.arrow {
	position: absolute;
	bottom: 20px;
}

.centerAbsolute {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}