.ourWorkFlowWrapper {
	margin: 80px 21px 0 21px;
}

.ourWorkFlowWrapper .smallTitle {
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	font-size: 14px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}

.ourWorkFlowWrapper > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 40px;
}

.ourWorkFlowWrapper .text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #535353;
}

.ourWorkFlowWrapper > .greenButton {
	margin-top: 40px;
	color: #262626;
	background: none;
	border: 1.5px solid #DADADA;
}

.ourWorkFlowWrapper > .greenButton:hover {
	background: #FFFFFF;
	border: 1.5px solid #35CC62;
	transform: translateY(-3px);

	color: #35CC62;
}