.showYourWorkWrapper {
	margin: 80px 21px 0 21px;
}

.showYourWorkWrapper .normalText {
	margin-top: 20px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #666666;
}

.showYourWorkWrapper .accordionsWrapper {
	margin-top: 80px;
}